[alias]
	co = checkout
	cm = commit
	st = status
	br = branch
[user]
	email = pero@cling.com
    name = Peter Romianowski
	signingkey = /Users/pero/.ssh/id_rsa_pero_flunder_io_github.pub
[init]
    defaultBranch = main
[rebase]
	autosquash = true
    autostash = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
[log]
	abbrevCommit = true
[format]
	pretty = oneline
