[alias]
	co = checkout
	cm = commit
	st = status
	br = branch
[user]
	email = pero@cling.com
    name = Peter Romianowski
[init]
    defaultBranch = main
[rebase]
	autosquash = true
    autostash = true
