{
    "bracketSpacing": false,
    "printWidth": 100,
    "semi": false,
    "tabWidth": 4,
    "trailingComma": "all",
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
